---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { EmbedForm } from '../components/EmbedForm';
import "../styles/global.css";
---

<Layout>
  <div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-8 text-center">Discord Embed Builder</h1>
    <EmbedForm client:load />
  </div>
</Layout>
